# Private
.env
swarm/*-secrets

# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
!/terraform/backend/terraform.tfstate

# Other
.bundle/
.vagrant/
pkg/
tmp/
vendor/
*.log
Gemfile.lock
gems.locked
